on early-init
    start ueventd
    write /sys/class/power_supply/battery/batt_lp_charging 1

on init

    export PATH /sbin:/vendor/bin:/system/sbin:/system/bin:/system/xbin
    export LD_LIBRARY_PATH /vendor/lib:/system/lib
    export ANDROID_ROOT /system
    export ANDROID_DATA /data
    export EXTERNAL_STORAGE /sdcard

    symlink /system/etc /etc

    mkdir /sdcard
    mkdir /preload
    mkdir /system
    mkdir /modemfs 0771 system system
    mkdir /data
    mkdir /cache
    mkdir /efs
    mkdir /tmp
    mkdir /dbdata
    mkdir /mnt 0775 root root
    mkdir /mnt/.lfs 0775 root root
    #mount /tmp /tmp tmpfs   

on early-fs
	mount ext4 /dev/block/mmcblk0p3 /system wait ro
	mount ext4 /dev/block/mmcblk0p7 /efs wait noatime nosuid nodev
	mount ext4 /dev/block/mmcblk0p5 /data nosuid nodev noatime wait

	mkdir /data/log 0777
	#mkdir /data/anr 0777

	chmod 0666 /dev/log/radio
	chmod 0666 /dev/log/main
	chmod 0666 /dev/log/event

	mount ext4 /dev/block/mmcblk0p10 /data remount ro   

on post-fs
	insmod /lib/modules/j4fs.ko
	mount j4fs /dev/block/mmcblk0p1 /mnt/.lfs wait
	insmod /lib/modules/param.ko

	write /sys/class/power_supply/battery/batt_reinit_capacity 1

on boot
#	write /sys/class/sec/switch/usb_sel PDA

	# CPU Frequency Governor
	write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor powersave

	# Battery Calibration
	chown system system /sys/class/power_supply/battery/batt_vol_adc_cal	

	ifup lo
	hostname localhost
	domainname localdomain

	class_start default

service debuggerd /system/bin/debuggerd

	service ueventd /sbin/ueventd
    	critical

#service console /bin/sh
service console /system/bin/sh
	console

service playlpm /system/bin/playlpm
    	user root

service immvibed /system/bin/immvibed
	oneshot

service lpmkey /system/bin/lpmkey
    	user root

# adbd is controlled by the persist.service.adb.enable system property
service adbd /sbin/adbd
    disabled

# adbd on at boot in emulator
on property:ro.kernel.qemu=1
    start adbd

on property:persist.service.adb.enable=1
    start adbd

on property:persist.service.adb.enable=0
    stop adbd

